@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:700');
*{
    box-sizing: border-box;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 2em;
    padding-left: 10px;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    padding-left: 10px;
}

/* Classes */

.row {
  display: flex;
}

.row {
    padding: 20px;
    margin: 20px;
    text-align: left;
}
 
.row {
    display: flex;
    flex-direction: column;
}

.row img {
    height: auto;
    width: 100%;
}


footer {
    text-align: center;
}

nav {
    background-color: lightgray;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

nav ul>li {
    display: block;
    float: left;
}

nav ul>li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #FFF;
    background-color: purple;
    display: block;
    margin: 10px;
    font-family: 'Alfa Slab One', cursive;
}

nav ul>li a:hover {
    background-color: #f0f;
}


@media (min-width: 425px){
    nav ul {
        overflow: hidden;
    }
 
    h1 {
        font-size: 2em;
    } 


@media (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 4em;
    }

     .row {
    display: flex;
    flex-direction: row;
    }
    nav ul>li a:hover {
    background-color:mediumpurple;
    }
}
